<div>
    <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
        <section class="text-center contact contact-font">
            <h1>¡Hola!</h1>
            <h2>Contáctenos</h2>
            <p>Déjanos tus felicitaciones, sugerencias, quejas o reclamos.</p>
        </section>
        <div class="container">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tipo de identificación:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>seleccione una opción</option>
                    <option>Cédula de ciudadania</option>
                    <option>Cédula de Extranjería</option>
                    <option>Documento profesional de salud</option>
                </select>
            </div>
                <label>Nombres:</label>
                <div class="inputWithIcon">
                    <input formControlName="name" id="name" type="text"
                        class="form-control" placeholder="Tu nombre">
                    <i class="fas fa-user" aria-hidden="true"></i>
                </div>
                <label>Apellidos:</label>
                <div class="inputWithIcon">
                    <input formControlName="lastName" id="lastName" type="text"
                    class="form-control" placeholder="Tu apellido">
                    <i class="fas fa-user-tie"></i>
                </div>
                <label>Correo:</label>
                <div class="inputWithIcon">
                    <input formControlName="email" id="email" type="text"
                    class="form-control" placeholder="Tu correo">
                    <i class="fas fa-envelope"></i>
                </div>
                <label>Asunto:</label>
                <div class="inputWithIcon">
                    <input formControlName="issue" id="issue" type="text"
                    class="form-control" placeholder="¿Cuál es el asunto?">
                    <i class="fas fa-sticky-note"></i>
                </div> 
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Mensaje:</label>
                    <textarea class="form-control inputWithIcon" id="exampleFormControlTextarea1"
                    rows="3" placeholder="¡Cuéntanos todo para ayudarte!"></textarea>
            </div>
            <div class="form-group form-check text-center div-check">
                <input type="checkbox" class="form-check-input input-check"
                    id="exampleCheck1">
                <label class="form-check-label label-check" for="exampleCheck1">Terminos
                    y condiciones</label>
                <input type="checkbox" class="form-check-input input-check"
                    id="exampleCheck1">
                <label class="form-check-label label-check" for="exampleCheck1">Tratamiento
                    de datos</label>
            </div>
            <div class="text-center">
                <button class="btn btn-info text-center">Enviar</button>
            </div>
        </div>
    </form>
</div>
