<div class="contenedor">
    <h1>Patologías Salud Mental</h1>

    <form [formGroup]='pathologyForm' (ngSubmit)='savePathology()'>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Patología</h5>
                <div class="form-group mx-sm-4 pt-3">
                    <label for="name">Nombre Patología</label>
                    <input formControlName="name" id="name" type="text" class="form-control">
                    <textarea formControlName="characteristics" type="text" class="form-control" id="characteristics"
                        placeholder="Describa la patología"></textarea>
                </div>

                <button class="btn btn-blue">Guardar</button>
            </div>
        </div>

    </form>
</div>