<div class="contenedor bodyRecords">
    <h1 class="text-center">Patologías Salud Mental</h1>
    <div class="container">
        <form [formGroup]='pathologyForm' (ngSubmit)='savePathology()'>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5>Patología</h5>
                    <label for="name">Nombre Patología</label>
                    <div class="form-group mx-sm-4 pt-3">
                        
                        <input formControlName="name" id="name" type="text" class="form-control">
                        <textarea formControlName="characteristics" type="text" class="form-control"
                            id="characteristics" placeholder="Describa la patología"></textarea>
                    </div>

                    
                </div>
                <button class="btn btn-info">Guardar</button>
            </div>
            
        </form>
    </div>
</div>