<div class="contenedor bodyRecords">
    <h1 class="text-center">Patologías Salud Mental</h1>
    <div class="container container-fluid">
        <form [formGroup]='pathologyForm' (ngSubmit)='savePathology()'>
            <div class="card" style="width: 24rem;">
                <div class="card-body cont-path">
                    <h5 class="text-center">Patología</h5>
                
                    <div class="form-group input-pad">
                        <input formControlName="name" id="name" type="text" class="form-control " placeholder="Nombre Patologia">
                        <textarea formControlName="characteristics" type="text" class="form-control mt-5"
                            id="characteristics" placeholder="Describa la patología"></textarea>
                    </div>

                    
                </div>
                <button class="btn btn-info">Guardar</button>
            </div>
            
        </form>
    </div>
</div>