<div class="container-fluid bodyRecords">
    <h1 class="text-center">Atención Paciente</h1>

    <form [formGroup]="createRecords" (ngSubmit)="saveRecords()">
        <div class="row">
            <div class="col mb-12">
                <div class="card container">
                    <div class="card-body container-fluid">

                        <div class="col" *ngFor="let patient of getPathology">
                            <select type="checkbox" value="{{patient._id}}" (click)="savePatient($event)">
                                <option>{{patient.name}}</option>
                            </select>
                        </div>
        
                        <div class="form-row">
                            <label>Fecha de Atención</label>
                            <div class="form-group col-md-6 ml4">
                                <input formControlName="dateAndHour" id="dateAndHour" type="date" class="form-control">
                            </div>
                        </div>
                        <h5 class="card-title"></h5>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <label class="col-12 ">Patología</label>
                                    <input formControlName="pathology" id="pathology" type="hidden"
                                        class="form-control">
                                    <div class="col-4" *ngFor="let pathol of allPathology">
                                        <input type="checkbox" value="{{pathol._id}}" (click)="savePathology($event)">
                                        <label>{{pathol.name}}</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Observaciones</label>
                                    <div class="textarea">
                                        <textarea formControlName="observations" id="observations" type="text"
                                            class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="recommendations">Recomendaciones</label>
                                    <div class="textarea">
                                        <textarea formControlName="recommendations" name="recommendations"
                                            id="recommendations" type="text" class="form-control"></textarea>
                                    </div>
                                </div>
                                <button class="btn btn-info">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>