<footer>
    
    <div class="cont-footer row justify-content-center p-2">
        <div class="footer-items1 col-4">
            <p>Inicio</p>
            <p>Contacto</p>
            <p>¿Quienes Somos?</p>
           </div>
        <div class="footer-items col-4 img">
           <img src="../assets/img/logoAtaraxia - copia.png" alt="" srcset="">
       </div>
       <div class="footer-items1 d-flex justify-content-end col-4 mt-45%">
           <i class="fab fa-facebook col-3"></i>
           <i class="fab fa-instagram-square col-3"></i>
           <i class="fab fa-twitter-square col-3"></i>
       </div>
   </div>
</footer>
