.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color:  #06070E;
    color:rgb(244, 244, 247);
    text-align: left;
    width: 100%;
    height: 120px;
    flex-direction: row;
}
.row{
    margin: 0 !important;
}
.cont-footer{
    display: flex;
    justify-content: space-around;
    background-color: #06070E;
}
.footer-items1{
    margin-top: 2%;
}

.footer-items1 p{
    color: white;
    margin-left: 18%;
}
.footer-items1 p:hover{
    color: #09ABC4;
}
.footer-items1 i{
    font-size: 30px;
    color: white;
    margin-right: 5%;
    margin-top: 12%;
}
.footer-items1 i:hover{
    color: #09ABC4;
}
.img{
    margin-top: 5%;
}