
.bodyRecords {
    background-image:url('/assets/img/black-and-white-2590810_1280.jpg');
    background-color: #06070ece;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 5%;
    padding-top: 5%;
}
  
.container {
    width: 100%;
    height: auto;
    background-color:white ;
    display: flex;
    padding: 2%;
    border-radius: 2%;
    align-items: center;
    
   
  }
  .section-history {
    background-color: white;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 2px #0bacc4 solid;

    transition: 0.2s;
    
  }
  .section-history:hover {
    background-color: #0bacc4;
    color:  white;
  }
  
  .icon {
    display: flex;
    justify-content: space-between;
    color: #0bacc4;
    
  }
  .contenido {
    margin-left: 45px;
    width: 90%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.63);
  }
  
  .text-area{
    border: none;
  }
  .text-area:hover{
    border: 1px solid #0bacc4;
  }