
<header class="headerindex">
<div class="cont-info">
    <h3 class="tit-nav">
        Ayudamos a cambiar <br>
        tu salud mental y emocional
    </h3>
    <p class="tit-text">
        Contamos con terapeutas online cuidadosamente seleccionados dispuestos a escucharte 
    </p>
    <button class="btn tit-btn" onclick="location.href='listaTerapeutas.html'"target="_self">¡Habla con un terapeuta Ya!</button>
    <p class="tit-text2">Primera Charla Gratis</p>
  </div>
</header>
<section class="cont-info">
    <h2 class="info-titulo">¡Dejanos Ayudarte!</h2>
    <p class="info-p">¿Cómo Funciona <b>Ataraxia</b> ?</p>
    <div class="info-cont-iconos">
        <div class="info-iconos">
            <i class="far fa-calendar-check"></i>
           <b> <p>Registrate y agenda tu cita, la primera sesión es Gratis.</p></b>
        </div>
        <div class="info-iconos">
            <i class="fas fa-hand-holding-usd"></i>
           <b> <p>Empieza tu proceso con alguno de nuestro terapeutas, realizando los pagos iniciales.</p></b>
        </div>
        <div class="info-iconos">
            <i class="fas fa-assistive-listening-systems"></i>
           <b> <p>Continua tu proceso con tu terapeuta elegido.</p></b>
        </div>
    </div>
</section>
<section class="cont-fin">
    <h3 class="fin-titulo"><b> Nuestros terapeutas en <br> linea te puden ayudar </b></h3>
    <button class="btn tit-btn">¡Habla con un terapeuta Ya!</button>
    <p class="fin-"></p>
</section>
<section class="cont-servicios">
    <h3 class="servicios-titulo">Nuestro <b>Servicios</b></h3>
    <p class="servicios-text">Desde el inicio del proceso el terapeuta encargado intentará entender tu realidad y desde ese punto de vista tratará en todo <br> momento de brindarte herramientas útiles, que te ayuden a mejorar tu experiencia de vida.</p>
    <div class="cont-servicios-icono">
        <div class="servicios-icono">
            <h4>Terapia Individual</h4>
            <i class="far fa-user"></i>
            <p>La depresión, la ansiedad y los problemas específicos en las diferentes áreas de la vida logran abrumarte; sin embargo, si aprendieras formas más efectivas de manejarlos, imagínate cómo podrías experimentar tu vida.</p>
        </div>
        <div class="servicios-icono">
            <h4>Terapia Infantil</h4>
            <i class="fas fa-child"></i>
            <p>La depresión, la ansiedad y los problemas específicos en las diferentes áreas de la vida logran abrumarte; sin embargo, si aprendieras formas más efectivas de manejarlos, imagínate cómo podrías experimentar tu vida.</p>
        </div>
        <div class="servicios-icono">
            <h4>Terapia Parejas</h4>
            <i class="fas fa-hand-holding-heart"></i>
            <p>La depresión, la ansiedad y los problemas específicos en las diferentes áreas de la vida logran abrumarte; sin embargo, si aprendieras formas más efectivas de manejarlos, imagínate cómo podrías experimentar tu vida.</p>
        </div>
    </div>
</section>

<div class="ir-arriba" id="ir-arriba">
    <div class="ir-arriba-boton">
      <i class="fas fa-chevron-up"></i>
    </div>
</div>
