.headerindex{   
    background: url('src/assets/img/woman.jpg') no-repeat ;
    background-size: cover ;
}
.bg-pag{
    background-color: transparent ;
}
.font{
    font-size: 20px;
    color: white;
    
}
.bg-color{
    background-color: transparent !important;
}
.tit-nav{
    color: #FFFFFF;
text-align: center;
font-size: 50px;
color: #FFFFFF;
padding-top: 3%;
text-shadow: 3px 5px 2px #000000;



}
.tit-text{
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 5%;
    
text-shadow: 3px 3px 2px #000000;
}
.tit-text2{
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 3%;
    margin-left: 3%;
    padding-bottom: 3%;
    text-shadow: 3px 3px 2px #000000;
}
.tit-btn{
    background-color: #5af299;
    margin-left: 43%;
    margin-top: 3%;
}
/* INICIO SECTION INFORMACION COMO FUNCIONA */
.info-titulo{
    margin-top: 2%;
    font-size: 35px;
    text-align: center;
}
.info-p{
    margin-top: 3%;
    font-size: 35px;
    text-align: center;
    color: #5af299;
}
.info-cont-iconos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.info-iconos{
    width: 400px;
    margin-top: 3%;
    margin-left: 3%;

}
.info-iconos i{
    font-size: 200px;
    padding-left: 25%;
    color: #5af299;
    
}
.info-iconos p{
    width: 300px;
    text-align: center;
    padding-left: 15%;
    padding-top: 4%;
    padding-bottom: 6%;
}
/* FIN SECTION INFO */
/*  INICIO FONDO FIN */
.cont-fin{
    background: url('src/assets/img/black-and-white-2590810_1280.jpg') no-repeat ;
    /*background: url(/img/black-and-white-2590810_1280.jpg) center;*/
    background-size: cover;
    height: 400px;
  
}
.fin-titulo{
    font-size: 60px;
    padding-top: 5%;
    padding-left: 10% ;
    color: #5af299;
}
.tit-btn:hover{
    background-color: #09ABC4;
}
/* FIN FONFO FIN */
/* INICIO NUESTROS SERVICIOS */
.servicios-titulo{
    font-size: 45px;
    color: #5af299;
    margin-top: 4%;
    text-align: center;
}
.servicios-text{
    text-align: center;
    font-size: 20px;
    margin-top: 3%;
}
.cont-servicios-icono{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 5%;
    margin: 5%;
}
.cont-servicios-icono i{
    font-size: 200px;
    color: #5af299;
    padding-left: 28%;
}
.cont-servicios-icono h4{
    text-align: center;
}
.cont-servicios-icono p{
    margin: 5%;
}

.separador{
    height: 120px;
    background-color: aqua;
}