
<div class="about-us">
    <h1>¿Quiénes somos?</h1>
    <h4>En tiempos de pandemia, la salud mental es vital</h4>
</div>

<div class="about">
    <section class="sec-flex">
        <div>
            <p class="parrafo">Malala es un proyecto integrado por mujeres con afinidad
                en
                gustos
                hacia
                la tecnología, estamos iniciando un proceso de estudio
                profundo en
                cuanto a la programación y estamos seguras de que con
                nuestro
                proyecto
                generaremos un cambio en la vida de muchas personas que
                solo
                necesitan ser escuchadas. Queremos crear esta plataforma
                para las
                personas que necesiten hablar con alguien o que sientan
                que
                estan
                solas,
                como empresa deseamos dar a nuestros clientes la
                confianza
                que
                necesiten para que nos desarrollemos no solo como
                programadoras,
                sino
                tambien como seres humanos.</p>
        </div>
        <div>
            <img src="../assets/img/hiking-1149891_640.jpg">
        </div>
    </section>
</div>
<div class="subtitulo">
<h2>"Ataraxia" Total ausencia de temores</h2>
</div>
<div class="about">
<section class="sec-flex-2">
    <div>
       
        <img src="../assets/img/hiking-1149891_640.jpg">
    </div>
    <div>
        <p class="parrafo">Ataraxia es una plataforma con enfoque a la salud en el ámbito
            psicológico, en la que los profesionales de la salud independientes
            podrán estar en contacto con sus pacientes, realizar seguimiento
            a los mismos, realizar terapias por medio de videollamadas de
            acuerdo al agendamiento que se maneje entre estos dos ;el
            enfoque será destinado a niños, adolescentes y adulto mayor en
            primera instancia, debido a la situación de estrés, ansiedad y
            depresión causadas por el encierro en tiempos de pandemia,
            situaciones económicas, culturales, tensiones socio-políticas o
            cualquier situación en la que este el usuario .</p>
    </div>
</section>
</div>