<div class="cont-img">
    <div class="cont-tit">
    <h1>¡Bienvenido, señor terapeuta!</h1>
    <h4>Ataraxia, la plataforma especialidada en la salud mental de las personas. Nuestro objetivo principal es la ayuda a niños y ancianos</h4>
    </div>
    <div class="options">
        <a>PACIENTES</a>
        <a>AGENDA</a>
        <a>CONTACTO</a>
        <a>AYUDA</a>
    </div>
    <div class="icons">
        <i class="fab fa-instagram icon"></i>
        <i class="fab fa-facebook-f icon"></i>
        <i class="fab fa-twitter icon"></i>
    </div>
</div>
