/*CSS HEADER */
/*.bg-pag{
    /* background-color:#07070ea8  !important;*/
    /* background-color: #06070E !important
 }
 .tit-text{
     font-size: 20px;
     color: rgb(0, 0, 0);
     text-align: center;
     padding-top: 2%;
 }
 
 .img-fondo{
     background-image: url('src/assets/img/mental-health.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     
 }
  /*CSS FORMULARIO */

 /*.formulario{
     background: white;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(54, 54, 54, 0.1) ;
     outline: none;
     box-shadow: none;
     margin-top: 20px;
     margin-bottom: 20px;
 
 }
 .form-control:focus{
     background: none;
     box-shadow: none;
     outline: none;
 
 
 }
 .form-control{
     background: white;
     border-style: none;
     transition: o.5s ease-in;
     border-bottom: #0bacc4 solid 1px;
 }
 
 .form-control::placeholder{
     color: rgb(0, 0, 0);
 }
 .ingresar{
     background: #0bacc4 ;
     padding: 10px;
     font-size: 16px;
     font-weight: 600!important;
     color: #fff;
     transition: 0,5s ease-in;
 }
 .container-bn{
    width: auto;
    height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 5%;
        font-size: 8px;
     
       
    }

    .boton{
        background: #09abc4;
        padding: 7px;
        font-size: 16px;
        font-weight: 700!important;
        color: #fff;
        transition: 0,5s ease-in;
        border-radius: 3%;
    }
    .boton:hover{
       background-color:  #06070E  ;
   }*/

   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

.cont-img{
    background: url('src/assets/img/mental-health.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
   align-content: center;
}
.cont-tit{
    padding-left: 14%;
}
.cont-img:before{
    content: "";
    width: 100%;
    height: 700px;
    background-color: white;
    position: absolute;
    opacity: 0.4;
}

.cont-img h1, h4 {
    position: relative;
}

.cont-img h1 {
    font-size: 60px;
    /* font-family: 'Xanh Mono', monospace; */
    margin-left: 100px;
    color: black;
}
.cont-img h4{
    font-size: 25px;
    width: 60%;
    text-align: center;
    color:black;
    /* font-family: 'Xanh Mono', monospace; */
    margin-left: 120px;
    margin-top: 20px;
}
.icons{
    width: 80%;
    width: 75%;
    text-align: center;
    padding-left: 23%;
}
.icon{
    margin: 50px;
    color: black;
}
.options{
    margin-top: 50px;
    width: 75%;
    text-align: center;
    padding-left: 22%;
}
.options a{
    margin-left: 30px;
    /* font-family: 'Xanh Mono', monospace; */
    color: black;
    font-size: 20px;
}
