<div class="cont-img">
    <div class="cont-tit">
    <h1>¡Bienvenido, señor usuario!</h1>
    <h4>Ataraxia, la plataforma especialidada en el acompañamiento psicológico de nuestros usuarios. La plataforma esta diseñada para ayudar.</h4>
    </div>
    <div class="options">
        <a class="nav-link" routerLink="/list-professional">TERAPEUTAS </a>
        <a class="nav-link" routerLink="/appointment">AGENDA </a>
        <a class="nav-link" routerLink="/contact">CONTACTO </a>
  
    </div>
    <div class="icons">
        <i class="fab fa-instagram icon"></i>
        <i class="fab fa-facebook-f icon"></i>
        <i class="fab fa-twitter icon"></i>
    </div>
</div>