
<!--<div class="conteiner img-fondo">
    <div class="form-row justify-content-center pt-5">
        <div class="form-group col-md-8 formulario">
            <div class="form-group text-center pt-3">
                <h1 class="text-dark">Paciente</h1>
            </div>
            <form>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="apellido" placeholder="Apellidos">
                </div>
            </div>

                <div class="form-group mx-sm-4 pt-3">
                    <select class="form-control" name="tipodocumento" id="tipodocumento">
                        <option value="1">Seleccione una opción</option>
                        <option value="cedula">Cédula de ciudadanía</option>
                        <option value="cedulaExtr">Registro Civil</option>
                        <option value="cedulaProfesional">Tarjeta de Identidad</option>
                        <option value="cedulaProfesional">Documento Extranjero</option>
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="number" class="form-control" id="documento" placeholder="Numero documento">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="date" class="form-control" id="nacimiento" placeholder="Fecha nacimiento">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="date" class="form-control" id="afiliación" placeholder="Fecha afiliación">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" id="email" placeholder="Correo">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="number" class="form-control" id="telefono" placeholder="Teléfono">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="direccion" placeholder="Dirección">
                    </div>
                </div>
               
                <div class="btn-group container-bn row mt-5">
                    <button type="button "  class="btn btn-block boton " > Usuario</button>
                 
                </div>


            </form>
        </div>
    </div>
</div>-->

<div class="cont-img">
    <div class="cont-tit">
    <h1>¡Bienvenido, señor usuario!</h1>
    <h4>Ataraxia, la plataforma especialidada en el acompañamiento psicológico de nuestros usuarios. La plataforma esta diseñada para ayudar.</h4>
    </div>
    <div class="options">
        <a>TERAPEUTAS</a>
        <a>AGENDA</a>
        <a>CONTACTO</a>
        <a>AYUDA</a>
    </div>
    <div class="icons">
        <i class="fab fa-instagram icon"></i>
        <i class="fab fa-facebook-f icon"></i>
        <i class="fab fa-twitter icon"></i>
    </div>
</div>