<div class="container mt-5" >
    <h1>Lista de Profesionales</h1>
    <div class="row">
        <div class="col mb-4" *ngFor="let user of allProfessionals">
            <div class="card" style="width: 18rem;"  >
                <div class="card-body">
                  <img src="assets/img/user.png" alt="" class="img-profesional">
                  <h5 class="card-title text-center">Psicólogo</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Nombre: </b> {{user.name}} </li>
                    <li class="list-group-item"><b>Apellido: </b> {{user.lastName}} </li>
                    <li class="list-group-item"><b>Correo Electronico: </b> {{user.email}} </li>
                  </ul>
                  <a class="nav-link" routerLink="/payment"><button class="btn btn-dark btn-agendar">Agendar Cita</button></a>
                </div>
            </div>
        </div>
    </div>
</div>