<div *ngIf="!user">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark menu">
    <a class="navbar-brand" href="#">Ataraxia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">¿Quienes Somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sing-up">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div *ngIf="user && user.role == 'Professional'">
  <nav class="navbar navbar-expand-lg navbar-dark bg-color">
    <a class="navbar-brand" href="#">Ataraxia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home-professional">Profesional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-user">Listar Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-records">Abrir historia paciente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pathology">Patologías mentales</a>
        </li>
      </ul>
      
      <span class="navbar-text"> <b>Hola {{user.name}}</b> </span>
      <button class="btn btn-dark">
        <span class="material-icons close-icon" (click)="destroySession()">power_settings_new</span>
      </button>
    </div>
  </nav>
</div>
<div *ngIf="user && user.role == 'User'">

  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">Ataraxia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home-patient">Paciente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-professional">Lista Profesionales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/appointment">Agendar Cita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/payment">Realizar Pago</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/recommendation">Recomendaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/records">Historico Citas</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" routerLink="/billing">Revisar facturación</a>
          </li>-->

      </ul>
      <span class="navbar-text"> <b>Hola {{user.name}}</b> </span>
      <button class="btn btn-dark">
        <span class="material-icons close-icon" (click)="destroySession()">power_settings_new</span>
      </button>
    </div>
  </nav>
</div>